body{
    font-family: sans-serif;
    margin: 0px;
}

/*------------NavBar-------------------*/
.navbar-nav{
    text-align: center;
    color: #0F4229;
    font-weight: bold;
}
.navbar-brand{
    color: rgb(87, 243, 84);
    font-weight: bold;
    font-size: 100px;
}

.title{
    font-size: 50px !important;
}

.nav-item{
    font-size: 20px;
    margin-right: 15px;
    list-style-type: none;
}


.navbar{
    padding: 10px;
}

@media (max-width: 1000px){
    .title{
        font-size: 30px !important;
    }
}

@media (max-width: 600px){
    .title{
        font-size: 20px !important;
    }
}

/* Home */

.home{
    display: flex;
    padding: 20px;
    background-image: url('./images/first.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.home-image{
    width: 50%;
}

.explore{
    background-color: #348E38;
    padding: 10px 20px;
    border-width: 0px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.homeBtn{
    margin-top: 20px;
    background-image: linear-gradient(to right, rgb(41, 203, 41), rgb(131, 238, 217));
    color: white;
}

.home-text{
    font-weight: bold;
    color: white;
    font-size: 80px;
}

/* About */

.about{
    display: flex;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.about-image{

    height: 70vh;
    width: 300px;
}

.about-content{
    margin-left: 40px;
    width: 100%;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-txt{
    color: #348E38(19, 88, 19);
    font-size: 20px;
    font-weight: bold;
}

.about-heading{
    color: #348E38;
    font-weight: bold;
    font-size: 60px;
}

.year-in-number{
    color: #348E38;
    font-size: 90px;
    font-weight: bold;
}

.extra-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-extra{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    border-left: 1px solid #dee2e6;
    padding-left: 30px;

}

.about-left{
    display: flex;
}

.about-icon{
    color: #348E38;
    font-size: 40px;
    margin-bottom: 20px;
}

.extra-content{
    margin-left: 0px;
    text-align: left;
}

.extra-heading{
    margin-bottom: 20px;
}

@media (max-width: 1240px){
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .extra-block{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        justify-content: space-around;
    }

    .extra-content{
        margin-right: 20px;
    }
}

@media (max-width:850px){
    .about{
        margin-left: 100px;
    }
    .about-left{
        display: flex;
        flex-direction: column;
    }

    .about-image{
        width: 70%;
        height: 70%;
    }

    .about-heading{
        font-size: 30px;
    }

    .about-content{
        margin-left: 0px;
    }
}

@media (max-width: 586px){
    .about{
        margin-left: 50px;
    }

    .extra-block{
        display: flex;
        flex-direction: column;
    }

}

/* Services */

.service{
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.service-mainHeading{
    color: black;
    font-size: 40px;
    font-weight: bold;
    width: 40%;
    margin-bottom: 50px;
}

.service-subHeading{
    color: #348E38 ;
    font-size: 20px;
    font-weight: 500;
}

.service-card{
    box-shadow: 0px 4px 16px 2px rgb(243, 233, 233);
    margin-bottom: 30px;
    padding: 60px;
    width: 400px;
    margin-right: 30px;
    border-radius: 10px;
}

.service-card:hover{
    color: white;
    background-color: #70787f;

}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-button{
    color: #0f4229;
    background-color: #e8f5e9;
    font-weight: bold;
    border-width: 0px;
    border-radius: 5px;
    font-size: 30px;
    padding: 0px 5px;
}


.card-heading{
    margin-bottom: 30px;
}

.card-text{
    margin-bottom: 30px;
}

.card-image{
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    
}


.card-image2{
    display: none;
}

.card-one:hover{
    background-image: url('./images/card-1.webp');
    background-size: cover;
}

.card-two:hover{
    background-image: url('./images/card-2.jpg');
    background-size: cover;
}



.card-three:hover{
    background-image: url('./images/card-3.jfif');
    background-size: cover;
}



.card-four:hover{
    background-image: url('./images/card-4.webp');
    background-size: cover;
}



.card-five:hover{
    background-image: url('./images/card-5.jfif');
    background-size: cover;
}



.card-six:hover{
    background-image: url('./images/card-6.jfif');
    background-size: cover;
}

@media (max-width: 1260px){
    .service{
        margin-left: 20px;
        margin-right: 20px;
    }
    .service-mainHeading{
        width: 100%;
    }

    .cards{
        text-align: center;
    }
}

/* Contact Us */


.contact{
    display: flex;
    padding: 50px;
    justify-content: space-around;
    background-color: #0F4229;
    color: white;
    flex-wrap: wrap;
}

.footer-heading{
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}

.address-line{
    display: flex;
    align-items: center;
}

.address-txt{
    margin-left: 20px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
}

li{
    list-style-type:square;
    font-size: 20px;
    cursor: pointer;
}


.input-field{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input{
    border-width: 0px;
}

input:focus{
    outline: none;
}

.locate{
    color: white;
}

.locate:hover{
    color: #348E38;
    text-decoration: none;
    letter-spacing: 1px;
    transition-duration: 0.5s;
}

.social{
    display: flex;
}

.social-icons{
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 10px;
}

.footer-letter{
    width: 25%;
}

@media (max-width: 1240px){
    .footer{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 700px){
    .footer{
        width: 100%;
        margin-bottom: 30px;
    }
}